body {
	background: #555;
}
#login_form { margin-top: 20px; }
#alertaFail, #alertaOk { display: none; }
.submenu{
	display: none;
	text-align: right;
}
#menu_principal, .contenido {
	border: 2px solid #337ab7;
	border-radius: 7px;
}
.contenido { padding: 5px; }
#botoneria,#botoneria2 { display: none; }